body {
  background-color: #f2f4f7;
  font-family: sans-serif;
}

header {
  background-color: lightgreen;
  text-align: center;
  padding: 10px;
}

h3 {
  text-align: center;
}

p {
  line-height: 1.6;
}

.subheader {
  font-weight: bold;
  font-size: 22px;
}

#main_header {
  background-color: #c8f7c5;
}

#favorite_spots {
  background-color: #e6f2ff;
  padding: 10px;
}

#lure_wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}
