body { 
    background-color: #1524f322; 
    font-family: sans-serif; 
} 

#main_header { 
    background-color: rgba(5, 60, 240, 0.549); 
    text-align: center; 
} 

#second_page_header { 
    background-color: rgba(207, 0, 248, 0.299); 
    text-align: center; 
    padding: 10px; 
} 

p { 
    line-height: 1.6; 
} 

.subheader {  
    font-weight: bold; 
    font-size: 22px; 
} 

#spots { 
    font-weight: bold; 
    font-size: 20px; 
    text-decoration: underline;  
} 

#favorite_spots { 
    background-color: #41acb6a2; 
    padding: 20px; 
    max-width: 300px; 
    margin: 20px auto; 
} 

@media (max-width: 600px) { 
    body { 
        font-size: 16px; 
    } 
    #favorite_spots { 
        padding: 10px; 
        max-width: 90%; 
    } 
}