body {
  background-color: #f2f4f7;
  font-family: sans-serif;
}

header {
  background-color: lightgreen;
  text-align: center;
  padding: 10px;
}

h3 {
  text-align: center;
}

p {
  line-height: 1.6;
}
